body {
    font-family: 'Arial', sans-serif;
    background: #f0f0f8;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#app {
    width: 90%;
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h1 {
    color: #333;
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

input, select, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #5c67f2;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4a50e0;
}

#updates, #photoPreview {
    margin-top: 20px;
}

#updates h2, #photoPreview h2 {
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

#updatesList li {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    list-style: none;
    border-radius: 5px;
}

img {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

.update-entry {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.photo-container img {
    width: 100%;  // Assegura que a foto se ajuste ao container
    max-width: 200px;  // Limita o tamanho da foto
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}
